@import "variables";

.global-title {
  background: rgb(248,80,50); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(248,80,50,1) 0%, rgba(241,111,92,1) 100%, rgba(246,41,12,1) 100%, rgba(240,47,23,1) 100%, rgba(231,56,39,1) 100%, rgba(241,111,92,1) 101%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 100%,rgba(246,41,12,1) 100%,rgba(240,47,23,1) 100%,rgba(231,56,39,1) 100%,rgba(241,111,92,1) 101%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 100%,rgba(246,41,12,1) 100%,rgba(240,47,23,1) 100%,rgba(231,56,39,1) 100%,rgba(241,111,92,1) 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#f16f5c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: $col-white;
  font-size: $font-l;
  padding: .5em;
  text-align: center;
  font-weight: bold;
}

.global-sub-title {
  background-color: #3cadf4;
  color: white;
  font-size: 1.3em;
  text-align: center;
  font-weight: bold;
  padding: .3em;
}