$col-white: white;
$col-light-gray: #D3D3D3;
$col-dark-gray:  #666666;
$col-main-bg:    #2f323a;

$border-style-thin: 1px  solid $col-light-gray;
$border-style-thick:2px solid  $col-light-gray;

$font-m: 1.3em;
$font-l: 1.5em;

$mobile-bp: 400px